@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600&display=swap");
:root {
  --primary-text: #426696;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: inherit;
  font-family: inherit;
  text-decoration: none;
}
a,
a:hover {
  text-decoration: none;
  color: inherit;
}
body {
  color: var(--primary-text);
  font-family: "Poppins", sans-serif;
}

.wrapper {
  height: 100vh;
  min-height: 100vh;
  background-image: linear-gradient(to right top, #65dfc9, #6cdbeb);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 70%;
  height: 80%;
  background-image: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 20px;
  z-index: 5;
  backdrop-filter: blur(10px);
}
.circle {
  background-image: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
}

.circle1 {
  top: 0;
  right: 200px;
}
.circle2 {
  width: 400px;
  height: 400px;
  bottom: 0;
  left: 100px;
}

.container {
  display: flex;
  padding: 0;
}

.leftNav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 27%;
  max-width: 27%;
  min-width: 20%;

  background-image: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 20px;
  padding: 0 30px;
}
.leftNav .leftNav-bottom {
  text-align: center;
}
.leftNav .leftNav-bottom img {
  width: 20px;
  margin: 0 5px;
}

.leftNav-middle ul {
  padding: 0;
  list-style: none;
}
.leftNav-middle ul li {
  margin: 22px 0;

  width: calc(100% + 30px);
  padding: 10px 20px;
  border-radius: 20px 0 0 20px;
  /* background-color: rgba(66, 102, 150, 0.5); */

  color: var(--primary-text);
}
.leftNav-middle ul li:hover {
  background-color: rgba(66, 102, 150, 0.5);
  color: #fff;
}

.mainArea {
  width: 100%;
  padding: 50px;
  display: flex;
}

.auth-form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.auth-form form {
  border-radius: 20px;
  padding: 40px 40px;
  background-image: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0.1)
  );
}
.auth-form form input {
  display: block;
  margin: 30px 0;
  width: 300px;
  padding: 15px 15px;
  border-radius: 20px;
  outline: 0;
  border: 0;
  background: none;
  background-image: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  backdrop-filter: blur(1px);
}
.auth-form form button {
  display: block;
  margin: 0 auto;
  padding: 10px 30px;
  border-radius: 20px;
  background: none;
  border: none;
  outline: none;
  background-image: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
}

.signup-form form div {
  display: flex;
}
.signup-form form div > input {
  margin: 20px 10px;
}

.chatInput input {
  outline: 0;
}
.mainArea .chatArea {
  width: 80%;
  height: 100%;
}

.chatbox {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  padding: 10px 50px;
}

.chatbox .chatInput {
  margin-top: auto;
  display: flex;
}
.chatbox .chatInput input {
  width: 90%;
}
.chatbox .chatInput button {
  width: 10%;
}
.chatbox .chats > div {
  width: 45%;
  display: flex;
  align-items: flex-start;
}
.chatbox .chats .left img.avatar {
  margin-right: 10px;
}
.chatbox .chats .right img.avatar {
  margin-left: 10px;
}
.chatbox .chats .right {
  margin-left: auto;
  justify-content: flex-end;
  text-align: right;
}
.chatbox .chats .right div:first-child {
  order: 2;
}
.chatbox .chats .chat-time {
  font-size: 10px;
  margin: 2px 3px;
}

.chatbox .chats .chatMsg {
  width: 100%;
  padding: 5px 10px;
  border-radius: 5px;
  background-image: linear-gradient(
    to right top,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.1)
  );
}

.chatbox .chats > div > div:nth-child(2) {
  flex: 1;
}

.card {
  background-image: linear-gradient(
    to left top,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.1)
  );
  display: flex;
}

.helper_text {
  font-size: 12px;
  text-align: center;
  margin-top: 25px;
}
